
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">Номера</h6>
            <h1 class="mb-5">Наши комфортные <span class="text-primary text-uppercase">Номера</span></h1>
        </div>
        <div class="row g-4">

            @foreach (var roomType in RoomTypes)
            {
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="room-item shadow rounded overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="@roomType.Image" alt="">
                            <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">@roomType.Price.ToString("c") ₽/Ночь</small>
                        </div>
                        <div class="p-4 mt-2">
                            <div class="d-flex justify-content-between mb-3">
                                <h5 class="mb-0">@roomType.Name</h5>
                                <div class="ps-2">
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                @if (roomType.Amenities?.Length > 0)
                                {
                                    var length = roomType.Amenities.Length;
                                    for (int i = 0; i < length; i++)
                                    {
                                        var amenity = roomType.Amenities[i];
                                        var cls = (i == length - 1) ? "" : "border-end me-3 pe-3";
                                        <small class="@cls">
                                            <i class="@amenity.Icon text-primary me-2"></i>
                                            @amenity.Unit @amenity.Name
                                        </small>
                                    }
                                }
                            </div>
                            <p class="text-body mb-3">
                                @roomType.Description.Ellipsis(100);
                            </p>
                            <div class="d-flex justify-content-end">
                                @* <a class="btn btn-sm btn-primary rounded py-2 px-4" href="">Посмотреть</a> *@
                                <a class="btn btn-sm btn-dark rounded py-2 px-4" href="/booking?room-type=@roomType.Id">Забронировать</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@code
{
    [Parameter, EditorRequired]
    public RoomTypeModel[] RoomTypes { get; set; } = [];
}