@page "/staff-admin/manage-amenities"
@using HotelBookingBlazor.Data.Entities
@using Microsoft.AspNetCore.Antiforgery

@attribute [StreamRendering]
@* @attribute [RequireAntiforgeryToken] *@

@inject NavigationManager NavigationManager

@inject IAmenitiesService AmenitiesService

<div class="container">
    <h1>Управление удобствами</h1>
    <hr />
    <div class="row">
        <div class="col-sm-3">
            <EditForm Model="Model" Enhance FormName="amenity" OnValidSubmit="SaveAmenityAsync">
                 <DataAnnotationsValidator />
                 <input type="hidden" value="@Model.Id" name="Model.Id" />
                 @if (!string.IsNullOrWhiteSpace(_error))
                {
                    <div class="mb-3 text-danger">
                        <small>@_error</small>
                    </div>
                }
                <div class="mb-3">
                    <label class="form-label">Название: </label>
                    <InputText @bind-Value="Model.Name" class="form-control" placeholder="Название удобства" />
                    <ValidationMessage For="() => Model.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Иконка: </label>
                    <InputText @bind-Value="Model.Icon" class="form-control" placeholder="Иконка" />
                    <ValidationMessage For="() => Model.Icon" class="text-danger" />
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-sm btn-success" disabled="@_isSaving">
                        @if (_isSaving)
                        {
                            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                            <span role="status">Сохранение...</span>
                        }
                        else
                        {
                            <span>Сохранить</span>
                        }
                    </button>
                </div>
            </EditForm>
        </div>
        <div class="col-sm-9">
            <div class="" style="max-height: 75vh; overflow-y: scroll;">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Иконка</th>
                            <th>Название удобства</th>
                            <th>Иконка Css Class</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (_amenities.Length == 0)
                        {
                            <tr>
                                <td colspan="6">
                                    <h4 class="text-danger">Пока никаких удобств нет.</h4>
                                </td>
                            </tr>
                        }
                        @foreach (var a in _amenities)
                        {
                            <tr>
                                <td>@a.Id</td>
                                <td>
                                    <i class="@a.Icon text-primary" />
                                </td>
                                <td>@a.Name</td>
                                <td>@a.Icon</td>
                                <td>
                                    <a href="staff-admin/manage-amenities?id=@a.Id" class="btn btn-sm btn-primary">Edit</a>
                                </td>
                                <td>
                                    <form method="post" action="staff-admin/manage-amenities/delete/@a.Id">
                                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <hr style="height: 5px" />
</div>

@code {

    [CascadingParameter]
    public HttpContext HttpContext { get; set; }

    [SupplyParameterFromForm]
    private Amenity Model { get; set; } = new();

    [SupplyParameterFromQuery(Name = "id")]
    private int AmenityId { get; set; }

    private bool _isSaving;
    private string? _error;

    private Amenity[] _amenities = [];

    protected override async Task OnInitializedAsync()
    {
        _amenities = await AmenitiesService.GetAmenitiesAsync();
        if (AmenityId > 0)
        {
            if (HttpMethods.IsGet(HttpContext.Request.Method))
            {
                var ametity = _amenities.FirstOrDefault(a => a.Id == AmenityId);
                if (ametity is not null)
                {
                    Model = ametity;
                }
            }
        }
    }

    private async Task SaveAmenityAsync()
    {
        _error = null;
        _isSaving = true;
        await Task.Delay(2000);
        MethodResult<Amenity> result = await AmenitiesService.SaveAmenityAsync(Model.Clone());
        if (result.IsSuccess)
        {
            if (Model.Id == 0)
            {
                _amenities = [.. _amenities, result.Data];
            }
            else
            {
                var ametity = _amenities.First(a => a.Id == Model.Id);
                ametity.Name = result.Data.Name;
                ametity.Icon = result.Data.Icon;
            }
            Model = new();
        }
        else
        {
            _error = result.ErrorMessage ?? "Ошибка сохранения удобств";
        }

        //NavigationManager.Refresh();
        _isSaving = false;
    }
}
